.workQuicklySection{
    padding-top: 200px;
}
.quickWorkImgMain{
    height: 190px;
}

.globalDoubleCardTitle{
    font-family: 'Cabin-SemiBoldItalic',sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    text-align: center;
    color: #000000;
    margin-top: 26px;
    min-height: 70px;
}
.globalDoubleCardDesc{
    font-family: 'Roboto-Regular',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}


@media (min-width: 1500px){

}
@media (max-width: 1500px) and (min-width: 1200px){

}
@media (max-width: 1200px) and (min-width: 992px){
    .workQuicklySection{
        padding-top: 100px;
    }
}
@media (max-width: 992px) and (min-width: 765px){
    .workQuicklySection{
        padding-top: 100px;
    }
}
@media (max-width: 765px) and (min-width: 576px){
    .workQuicklySection{
        padding-top: 100px;
    }
}
@media only screen and (max-width: 576px) and (min-width: 320px){
    .workQuicklySection{
        padding-top: 100px;
    }
}